*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

#wrap {
	width: 1180px;
	margin: 0 auto;
}
#header {
	height: 60px;
	border-bottom: 1px solid #ccc;
}
#brand {
	height: 60px;
	margin: 0;
	float: left;
}
#header #brand h1 {
	font-size: 18px;
	margin: 8px 8px;
	color: #898989;
}
#header-nav {
	float: right;
}
#header-nav ul {
	height: 60px;
	margin-top: 0;
	list-style-type: none;
}
#header-nav ul li {
	display: inline-block;
	padding: 8px 8px;
	font-size: 14px;
	transition: all 0.4s;
	font-weight: bold;
	color: #656D78;
}
#header-nav ul li:hover {
	color: #37BC9B;
	cursor: pointer;
}