*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	margin: 0;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 100;
}

.container {
	width: 1180px;
	margin: 0 auto;
}
.heading {
	text-align: center;
	padding-top: 40px;
}
.heading h2 {
	color: #434A54;
	font-size: 32px;
	font-weight: normal;
	font-weight: 200;
}
#header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #eee;
	background: white;
	position: fixed;
}
#brand {
	height: 50px;
	margin: 0;
	float: left;
}
#header #brand h1 {
	font-size: 18px;
	margin: 11px 8px;
	color: #898989;
}
#header-nav {
	float: right;
}
#header-nav ul {
	height: 50px;
	margin-top: 0;
  line-height: 30px;
	list-style-type: none;
}
#header-nav ul li {
	display: inline-block;
	padding: 8px 8px;
	font-size: 14px;
	transition: all 0.4s;
	font-weight: 600;
	color: #656D78;
}
#header-nav ul li:hover {
	color: #10D4C1;
	cursor: pointer;
}

#keyvisal-wrap {
	width: 100%;
	height: 500px;
	background: url(./images/backgrounds/top.jpg);
	background-color: rgba(0,0,0,0.4);
	background-position: 0 -50px;
	background-size: cover;
}
#keyvisal-wrap .heading {
	color: white;
	padding-top: 120px;
}
#keyvisal-wrap .heading h2 {
	font-size: 46px;
	color: white;
}
#keyvisal-wrap .heading p {
	opacity: 0.6;
	color: white;
	font-size: 18px;
}
.cover {
	height: 100%;
	background: rgba(0,0,0,0.6);
}
#btn-keyvisal {
	width: 140px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid rgba(255,255,255,0.2);
	text-align: center;
	display: block;
	background: rgba(255,255,255,0.1);
	color: white;
	transition: 0.4s;
}
#btn-keyvisal a {
	display: block;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
}
#btn-keyvisal:hover {
	border: 1px solid rgba(255,255,255,1);
}
#more-detail {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	display: none;
	color: white;
	font-size: 14px;
}
#language-container {
	width: 800px;
	margin: 0 auto;
}
.language-item {
	width: 400px;
	padding: 20px;
	float: left;
	text-align: center;
}
.language-item h3 {
	color:  #434A54;
	font-size: 16px;
}
.language-item p {
	color: #AAB2BD;
	font-size: 14px;
}

#features {
	clear: both;
	padding-bottom: 20px;
}
#features #image-bg {
	height: 380px;
	background: #F5F7FA;
}
#features #image-bg img {
	width: 463px;
	display: block;
	margin: 0 auto;
}
#feature-steps {
	width: 1080px;
	margin: 0 auto;
	padding-top: 70px;
}
.feature-step {
	width: 50%;
	padding: 20px 40px;
	float: left;
}
.feature-step h3 {
	font-weight: 200;
	font-size: 18px;
}
.feature-step p {
	color: #AAB2BD;
	font-size: 14px;
}
#course-wrap {
	clear: both;
	background: #E6E9ED;
	padding-bottom: 80px;
	overflow: auto;
}
#course-row {
	  width: 100%;
    margin: 0 auto;
}
.course-item {
	margin-top: 30px;
	margin-right: 13px;
	margin-left: 13px;
	width: 31%;
	background: white;
	padding: 40px 15px 80px 15px;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
	float: left;
}
.course-header-course {
	height: 100px;
	padding: 15px;
	background: #434A54;
	color: white;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
}
#course-common {
	background: #36CABC;
}
.course-header-price {
	height: 120px;
	margin-bottom: 30px;
	padding: 15px;
	background: #E6E9ED;
	line-height: 80px;
	font-size: 30px;
	text-align: center;
}
.course-item p {
	width: 80%;
  display: block;
  margin: 0 auto;
	text-align: center;
	color: #AAB2BD;
	font-size: 13px;
	padding: 20px;
	border-bottom: 1px solid #E6E9ED;
}
.btn-application {
	margin: 0 auto;
	margin-top: 40px;
	background: #434A54;
	display: block;
  width: 120px;
  text-align: center;
}
.btn-application a {
	padding: 12px 14px;
	color: rgba(255,255,255,0.5);
	display: block;
	text-decoration: none;
	transition: all 0.4s;
}
.btn-application a:hover {
	color: rgba(255,255,255,1);
}
#mentor-wrap {
	clear: both;
}
.carousel-indicators li {
	width: 14px;
	height: 14px;
	margin: 4px;
	background: #ccc;
}
.carousel-indicators li:hover{
	background: #9595A2;
}
.carousel-indicators li.active {
	width: 14px;
	height: 14px;
	margin: 4px;
	background: #9595A2;
}
#carousel-example-generic {
	width: 920px;
	height: 450px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.carousel-inner .item {
	width: 920px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.carousel-inner .item img {
	border-radius: 50%;
  width: 200px;
  margin: 0 auto;
}
.carousel-inner .item p {
	margin-top: 20px;
	color: #434A54;
	font-size: 18px;
	font-weight: 200;
}

.mentor-name {
	color: #AAB2BD;
	font-size: 14px;
}
#comment {
	height: 380px;
	background: url(./images/backgrounds/night_view.jpg) no-repeat;
	background-size: cover;
}
#comment p {
	padding-top: 150px;
	text-align: center;
	font-size: 21px;
	line-height: 1.8;
	color: white;
}
#column-wrap {
	padding-bottom: 50px;
	background: #F5F7FA;
	overflow: auto;
}
#tab-nav {
	width: 380px;
	margin: 30px auto;
	text-align: center;
}
#tab-nav a {
	background: white;
	text-decoration: none;
	color: #434A54;
	font-weight: 400;
	margin: 4px;
	padding: 8px 15px;
	transition: all 0.4s;
}
#tab-nav a:hover {
	background: #2DA7AD;
	color: white;
}
#tab-nav a.active {
	background: #2DA7AD;
	color: white;
}
#column-item-wrap {
	width: 1040px;
	margin: 0 auto;
	overflow: auto;
}
.column-item {
	width: 480px;
	margin: 20px;
	padding: 8px 8px 25px 8px;
	float: left;
	background: white;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
}
.column-item img {
	width: 100%;
}
.caption {
	text-align: center;
}
.caption a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
	color: #434A54;
	transition: all 0.4s;
}
.caption a:hover {
	color: #10D4C1;
}
.caption-title {
	margin-bottom: 0;
}
.tag {
	color: #AAB2BD;
	font-size: 14px;
}
#contact-wrap {
	height: 680px;
	clear: both;
	background: url(./images/backgrounds/contact.jpg) no-repeat;
	background-size: cover;
}
#contact-wrap h2 {
	color: white;
}
#contact-left {
	width: 50%;
	padding: 5px;
	padding-left: 10px;
	float: left;
}
#contact-left input {
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 17px;
	background: rgba(255,255,255,0.1);
	border: none;
	font-weight: 100;
	color: white;
}
#contact-left textarea {
	width: 100%;
	height: 200px;
	padding: 15px;
	font-size: 17px;
	background: rgba(255,255,255,0.1);
	border: none;
	font-weight: 100;
	color: white;
}
#contact-left h3, #contact-right h3 {
	color: white;
	margin-top: 0;
	font-weight: 100;
	font-size: 20px;
}
#btn-submit {
	width: 120px;
	margin-top: 40px;
	line-height: 55px;
	display: block;
	background: #36CABC;
	color: white;
	font-size:16px;
	font-weight: 200;
	text-align: center;
	text-decoration: none;
}

#contact-right {
	width: 50%;
	padding: 5px 50px 5px 70px;
	float: right;
}
#contact-right p {
	color: white;
	font-size: 14px;
	line-height: 1.8;
}
#contact-right span {
	color: white;
}
#contact-right .fa-map-marker {
	font-size: 18px;
	margin-right: 0.8em;
}
#follow-us {
	clear: both;
	padding-bottom: 40px;
}
#follow-us p a {
	margin: 8px;
	font-size: 36px;
	color: #292929;
	transition: all 0.4s;
}
#follow-us p a:hover {
	color: #10D4C1;
}
/*footer*/
#footer {
	width: 100%;
	height: 95px;
	font-size: 14px;
  line-height: 95px;
	color: rgba(255,255,255,0.4);
	text-align: center;
	background: #292929;
}