*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	margin: 0
}

.container {
	width: 1180px;
	margin: 0 auto;
}
.heading {
	text-align: center;
	padding-top: 100px;
}
#header {
	height: 50px;
	border-bottom: 1px solid #eee;
}
#brand {
	height: 50px;
	margin: 0;
	float: left;
}
#header #brand h1 {
	font-size: 18px;
	margin: 11px 8px;
	color: #898989;
}
#header-nav {
	float: right;
}
#header-nav ul {
	height: 50px;
	margin-top: 8px;
	list-style-type: none;
}
#header-nav ul li {
	display: inline-block;
	padding: 8px 8px;
	font-size: 14px;
	transition: all 0.4s;
	font-weight: bold;
	color: #656D78;
}
#header-nav ul li:hover {
	color: #37BC9B;
	cursor: pointer;
}

#keyvisal-wrap {
	width: 100%;
	height: 500px;
	background: url(./images/backgrounds/top.jpg);
	background-color: rgba(0,0,0,0.4);
	background-position: 0 -50px;
	background-size: cover;
}
#keyvisal-wrap .heading {
	color: white;
	padding-top: 120px;
}
#keyvisal-wrap .heading h2 {
	font-size: 46px;
	font-weight: normal;
}
#keyvisal-wrap .heading p {
	opacity: 0.6;
}
.cover {
	height: 100%;
	background: rgba(0,0,0,0.6);
}
#btn-keyvisal {
	width: 140px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid rgba(255,255,255,0.2);
	text-align: center;
	display: block;
	background: rgba(255,255,255,0.1);
	color: white;
	transition: 0.4s;
}
#btn-keyvisal a {
	display: block;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
}
#btn-keyvisal:hover {
	border: 1px solid rgba(255,255,255,1);
}