*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	margin: 0;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 100;
}

.container {
	width: 1180px;
	margin: 0 auto;
}
.heading {
	text-align: center;
	padding-top: 40px;
}
.heading h2 {
	color: #434A54;
	font-size: 32px;
	font-weight: normal;
	font-weight: 200;
}
#header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #eee;
	background: white;
	position: fixed;
}
#brand {
	height: 50px;
	margin: 0;
	float: left;
}
#header #brand h1 {
	font-size: 18px;
	margin: 11px 8px;
	color: #898989;
}
#header-nav {
	float: right;
}
#header-nav ul {
	height: 50px;
	margin-top: 0;
  line-height: 30px;
	list-style-type: none;
}
#header-nav ul li {
	display: inline-block;
	padding: 8px 8px;
	font-size: 14px;
	transition: all 0.4s;
	font-weight: 600;
	color: #656D78;
}
#header-nav ul li:hover {
	color: #36CABC;
	cursor: pointer;
}

#keyvisal-wrap {
	width: 100%;
	height: 500px;
	background: url(./images/backgrounds/top.jpg);
	background-color: rgba(0,0,0,0.4);
	background-position: 0 -50px;
	background-size: cover;
}
#keyvisal-wrap .heading {
	color: white;
	padding-top: 120px;
}
#keyvisal-wrap .heading h2 {
	font-size: 46px;
	color: white;
}
#keyvisal-wrap .heading p {
	opacity: 0.6;
	color: white;
}
.cover {
	height: 100%;
	background: rgba(0,0,0,0.6);
}
#btn-keyvisal {
	width: 140px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid rgba(255,255,255,0.2);
	text-align: center;
	display: block;
	background: rgba(255,255,255,0.1);
	color: white;
	transition: 0.4s;
}
#btn-keyvisal a {
	display: block;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
}
#btn-keyvisal:hover {
	border: 1px solid rgba(255,255,255,1);
}
#language-container {
	width: 800px;
	margin: 0 auto;
}
.language-item {
	width: 400px;
	padding: 20px;
	float: left;
	text-align: center;
}
.language-item h3 {
	color:  #434A54;
	font-size: 16px;
}
.language-item p {
	color: #AAB2BD;
	font-size: 14px;
}

#features {
	clear: both;
}
#features #image-bg {
	height: 380px;
	background: #F5F7FA;
}
#features #image-bg img {
	width: 463px;
	display: block;
	margin: 0 auto;
}
#feature-steps {
	width: 1080px;
	margin: 0 auto;
	padding-top: 100px;
}
.feature-step {
	width: 50%;
	padding: 20px 40px;
	float: left;
}
.feature-step h3 {
	font-weight: normal;
}
.feature-step p {
	color: #AAB2BD;
	font-size: 14px;
}
#course-wrap {
	clear: both;
	background: #E6E9ED;
	padding-bottom: 80px;
	overflow: auto;
}
#course-row {
	  width: 100%;
    margin: 0 auto;
}
.course-item {
	margin-right: 1.5%;
	margin-left: 1.5%;
	width: 30%;
	background: white;
	padding: 40px 15px 80px 15px;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
	float: left;
}
.course-header-course {
	height: 100px;
	padding: 15px;
	background: #434A54;
	color: white;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
}
#course-common {
	background: #36CABC;
}
.course-header-price {
	height: 120px;
	margin-bottom: 30px;
	padding: 15px;
	background: #E6E9ED;
	line-height: 80px;
	font-size: 30px;
	text-align: center;
}
.course-item p {
	width: 80%;
  display: block;
  margin: 0 auto;
	text-align: center;
	color: #AAB2BD;
	font-size: 13px;
	padding: 20px;
	border-bottom: 1px solid #E6E9ED;
}
.btn-application {
	margin: 0 auto;
	margin-top: 40px;
	background: #434A54;
	display: block;
  width: 120px;
  text-align: center;
}
.btn-application a {
	padding: 12px 14px;
	color: rgba(255,255,255,0.5);
	display: block;
	text-decoration: none;
	transition: all 0.4s;
}
.btn-application a:hover {
	color: rgba(255,255,255,1);
}
#mentor-wrap {
	clear: both;
}
#mentor-wrap .mentor-item {
	width: 920px;
	margin: 0 auto;
	margin-bottom: 60px;
	text-align: center;
}
#mentor-wrap .mentor-item img {
	border-radius: 50%;
  width: 200px;
}
#mentor-wrap .mentor-item p {
	color: #434A54;
	font-size: 18px;
	font-weight: 200;
}
#mentor-wrap .mentor-item .mentor-name {
	color: #AAB2BD;
	font-size: 14px;
}
/*footer*/
#footer {
	width: 100%;
	height: 95px;
	font-size: 14px;
  line-height: 95px;
	color: rgba(255,255,255,0.4);
	text-align: center;
	background: #292929;
}